* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        --primary-color-background: rgb(69, 75, 75);
        --primary-color-content: rgb(41, 49, 50);
        --secondary-color: rgb(196, 247, 161);
        --accent-color: rgb(255, 191, 70);
        background-color: var(--primary-color-background);
}

.banner {
        width: 100%;
        height: 10rem;
        background-color: var(--secondary-color);
}

.main {
        display: flex;
        justify-content: center;
}

.content {
        width: 50rem;
        max-width: 90%;
        background-color: var(--primary-color-content);
        display: flex;
        flex-direction: column;
}

.intro {
        background-color: burlywood;
        height: 20rem;
        width: 100%;
        display: flex;
        flex-direction: row;
}

.photo {
        background-color: darkgoldenrod;
        width: 40%;
        height: 100%;
}

.description {
        background-color: darkmagenta;
        width: 60%;
        height: 100%;
}

.projects {
        background-color: rgb(90, 168, 109);
        height: 20rem;
        width: 100%;
}

.skills-programming {
        background-color: rgb(28, 81, 105);
        height: 20rem;
        width: 100%;
}

.skills-languages {
        background-color: rgb(212, 121, 163);
        height: 20rem;
        width: 100%;
}

.jobs {
        background-color: beige;
        height: 20rem;
        width: 100%;
}

.footer {
        width: 100%;
        height: 10rem;
        background-color: rgb(51, 51, 51);
}

.main-box {
        margin: 2rem;
        width: auto;
}