* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        --primary-color-background: rgb(69, 75, 75);
        --primary-color-content: rgb(41, 49, 50);
        --secondary-color: rgb(196, 247, 161);
        --accent-color: rgb(255, 251, 31);
        --font-color-light: rgb(209, 209, 209);
        --font-color-dark: rgb(44, 44, 44);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
}

.banner {
        width: 100%;
        height: 10rem;
        background-color: var(--secondary-color);
        color: var(--font-color-dark);
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
}

.main {
        display: flex;
        justify-content: center;
        background-color: var(--primary-color-background);
}

.content {
        width: 50rem;
        max-width: 90%;
        background-color: var(--primary-color-content);
        display: flex;
        flex-direction: column;
}

.section-container {
        margin: 2rem;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        border-color: var(--primary-color-background);
        border-width: 0.2rem;
        border-style: solid;
}

.section-header h2 {
        text-align: center;
        color: var(--font-color-light);
        font-size: 2rem;
        padding: 1rem;
}

.box-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}

.main-box {
        background-color: var(--secondary-color);
        min-width: 10rem;
        min-height: 10rem;
        margin: 1rem;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.1s;
}

.intro {
        flex-direction: row;
        border-width: 0;
}

.photo {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.description {
        height: 100%;
        color: var(--font-color-light);
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.4rem;
}

.projects .main-box {
        flex-direction: column;
        color: var(--font-color-dark);
        padding: 1rem;
}

.projects h3 {
        margin-top: 0.6rem;
}


.skills-programming img {
        width: 6rem;
        height: 6rem;
        object-fit: scale-down;
}

.experience {
        margin-bottom: 2rem;
}

.footer {
        width: 100%;
        height: 10rem;
        background-color: rgb(51, 51, 51);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-width: 0;
        border-top-width: 0.2rem;
        border-color: var(--font-color-light);
        border-style: solid;
}

.github {
        display: block;
        width: 6rem;
        height: 6rem;
        margin: 4rem;
}

.email {
        display: block;
        width: 6rem;
        height: 6rem;
        margin: 4rem;
}

.photo img {
        width: 16rem;
        height: 16rem;
        object-fit: scale-down;
        border-radius: 50%;
}

.experience .main-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.experience .main-box img {
        width: 6rem;
        height: 6rem;
        object-fit: scale-down;
        margin: 0.2rem;
}

.experience .main-box p {
        margin: 0.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
}

@media only screen and (max-width: 60rem) {
        .intro {
                flex-direction: column;
        }

        .photo {
                width: 100%;
        }
}

.main-box:hover {
        background-color: var(--accent-color);
        padding: 0.4rem;
}