* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        --primary-color-background: rgb(69, 75, 75);
        --primary-color-content: rgb(41, 49, 50);
        --secondary-color: rgb(196, 247, 161);
        --accent-color: rgb(255, 191, 70);
        --font-color: rgb(209, 209, 209);
        background-color: var(--primary-color-background);
}

.banner {
        width: 100%;
        height: 10rem;
        background-color: var(--secondary-color);
}

.main {
        display: flex;
        justify-content: center;
}

.content {
        width: 50rem;
        max-width: 90%;
        background-color: var(--primary-color-content);
        display: flex;
        flex-direction: column;
}

.section-container {
        margin: 2rem;
        margin-bottom: 0;
        width: auto;
        display: flex;
        flex-direction: column;
}

.jobs {
        margin-bottom: 2rem;
}

.section-header h2 {
        text-align: center;
        color: var(--font-color);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2rem;
        padding: 1rem;
}

.box-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
}

.main-box {
        background-color: var(--secondary-color);
        min-width: 10rem;
        min-height: 10rem;
        margin: 1rem;
        border-radius: 1rem;
        border-color: black;
        border-width: 0.2rem;
        border-style: solid;
}

.intro {
        background-color: burlywood;
        height: 20rem;
        width: auto;
        display: flex;
        flex-direction: row;
}

.photo {
        background-color: darkgoldenrod;
        width: 40%;
        height: 100%;
}

.description {
        background-color: darkmagenta;
        height: 100%;
}

.projects {
        background-color: rgb(90, 168, 109);
        height: auto;
}

.skills-programming {
        background-color: rgb(28, 81, 105);
        height: 20rem;
}

.skills-languages {
        background-color: rgb(212, 121, 163);
        height: 20rem;
}

.jobs {
        background-color: beige;
        height: 20rem;
}

.footer {
        width: 100%;
        height: 10rem;
        background-color: rgb(51, 51, 51);
}